
<div class="container border  ">
  <br>
<nav class="navbar navbar-light bg-light">
<a class="navbar-brand" href="#">
  <!--<div class=" border-bottom border-info">
    <h3>Marcas</h3>

  </div>-->
  <h3>Modificar Cliente</h3>


</a>
</nav>

<%= render 'form', cliente: @cliente %>

<%= link_to 'Show', @cliente %> |
<%= link_to 'Back', clientes_path %>
</div>
