<%= form_with(model: os_orden_servicio, local: true) do |form| %>




  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.collection_select(:cliente_id, Cliente.all, :id, :nombre, options = {}, {:class => "form-control"})%>
  </div>





  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
