<h1>Hola Mundo</h1>


<section class="section">
  <div class="container">
    <!-- grid here -->
  </div>
</section>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>
<script type="text/javascript">
  var app4 = new Vue({
  el: '#app-4',
  data: {
    todos: [
      { text: 'Learn JavaScript' },
      { text: 'Learn Vue' },
      { text: 'Build something awesome' },
      { text: 'jaja' }
    ]
  }
})
</script>



		<section class="section is-paddingless-horizontal">
			<div class="container grid">
				<article class="media">
					<figure class="media-left">
						<figure class="image ">
							  <img class="is-rounded", <%= image_tag(current_user.avatar.url(:thumb)) %>
						</figure>
					</figure>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>Jesus Perez Angeles</strong> <a>@username_zaydek</a><br>
								<span class="has-text-grey">Self-taught, inspired to learn<br>
								<time datetime="2018-04-20">Apr 20</time> · 20 min read</span>
							</p>
						</div>
					</div>
				</article>
			</div>
		</section>
