<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br>
    <div class="columns is-mobile">
  <div class="column"><a class="button is-primary is-rounded"><%= link_to 'Orden de Servicio', os_orden_servicios_path, :class => "button is-primary is-rounded" %></a></div>
</div>



  </body>
</html>
