<h1>Index#index</h1>

                <% if user_signed_in? %>
                  <div class="ui top right pointing mobile dropdown link item">
                      <%= current_user.email %>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                          <%= link_to 'Editar usuario', edit_user_registration_path, :class => 'item' %>
                          <%= link_to "Salir", destroy_user_session_path, :confirm => "Salir?", method: :delete, :class => 'item'  %>
                      </div>
                  </div>
                <% end %>

<p>Find me in app/views/index/index.html.erb</p>
