<h1>Editing Ct Producto Catalogo</h1>

<%= render 'form', ct_producto_catalogo: @ct_producto_catalogo %>

<%= link_to 'Show', @ct_producto_catalogo %> |
<%= link_to 'Back', ct_producto_catalogos_path %>
