<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="card" style="width: 18rem;">
      <button type="button" class="btn btn-outline-info">

  <%= link_to  ct_cuenta_clientes_path  do %>
    <i class="far fa-file-alt" style="font-size:48px"></i> <br> Cuentas
  <% end %>
</button>
</div>


  </body>
</html>
