
<div class="container border  ">
  <br>
<nav class="navbar navbar-light bg-light">
<a class="navbar-brand" href="#">
  <!--<div class=" border-bottom border-info">
    <h3>Marcas</h3>

  </div>-->
  <h3>Modificar Marca</h3>


</a>
</nav>
<br>
<%= render 'form', marca: @marca %>

<%= link_to 'Show', @marca %> |
<%= link_to 'Back', marcas_path %>
</div>
