<h1>Editing Ct Producto Categoria</h1>

<%= render 'form', ct_producto_categoria: @ct_producto_categoria %>

<%= link_to 'Show', @ct_producto_categoria %> |
<%= link_to 'Back', ct_producto_categorias_path %>
