<div class="container border  ">
  <br>
<nav class="navbar navbar-light bg-light">
<a class="navbar-brand" href="#">
  <!--<div class=" border-bottom border-info">
    <h3>Marcas</h3>

  </div>-->
  <h3>Editar Modelo</h3>


</a>
</nav>
<br>
<%= render 'form', modelo: @modelo %>
<br>
<%= link_to 'Show', @modelo %> |
<%= link_to 'Back', modelos_path %>
</div>
