<div class="container border  ">
<br>
<nav class="navbar navbar-light bg-light">
<a class="navbar-brand" href="#">
  <!--<div class=" border-bottom border-info">
    <h3>Marcas</h3>

  </div>-->
  <h3>Modificar Servicio</h3>
  <!--<%= link_to 'Nueva Marca', new_marca_path %>-->
</a>
</nav>
<br>
<%= render 'form', os_servicio: @os_servicio %>

<%= link_to 'Show', @os_servicio %> |
<%= link_to 'Back', os_servicios_path %>
</div>
