<%= form_with(model: ct_cliente, local: true, :class => "form") do |form| %>
  <% if ct_cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ct_cliente.errors.count, "error") %> prohibited this ct_cliente from being saved:</h2>

      <ul>
      <% ct_cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field is-horizontal">

    <div class="field-body">
      <div class="field">

          <label class="label">Nombre</label>

        <p class="control is-expanded has-icons-left">
          <input class="input" name="ct_cliente[nombre]" type="text" placeholder="Nombre del cliente">

          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>

      <div class="field">

          <label class="label">Direccion</label>

        <p class="control is-expanded has-icons-left">
          <input class="input" name="ct_cliente[direccion]" type="text" placeholder="Direccion">

          <span class="icon is-small is-left">
            <i class="fas fa-info-circle"></i>
          </span>
        </p>

      </div>
    </div>
  </div>

  <div class="field is-horizontal">

    <div class="field-label"></div>
    <div class="field-label is-normal">
      <label class="label">Telefono</label>
    </div>
    <div class="field-body">

      <div class="field is-expanded">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              +44
            </a>
          </p>
          <p class="control is-expanded">
            <input class="input" type="tel" Name="ct_cliente[telefono]" placeholder="Numero de telefono">
          </p>
        </div>
        <p class="help">Numero de 10 digitos</p>
      </div>
    </div>
  </div>






  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="actions">
            <button class="button is-info" @click="$emit('close')">guardar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
